/* main layout */
body {
    overflow-x: hidden;
    background: #1D1D1D;
    box-sizing: border-box;
    font-family: Barlow, sans-serif;
}
.centar{
    max-width: 1240px;
    height: auto;
    margin:  0 auto;
    padding: 10px;
    position: relative;
}

.bubl-btn{
    width: 240px;
    padding: 16px;
    background: #ED712E;
    border-radius: 4px;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}

/* header and nav */

.bubl-logo {
    width: 133px;
    height: 40px;
}

.btn:hover {
    color: #FFFFFF;;
    background: #D35612;
}

.bnav{
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 96px;
}

.bnav .nav{
    padding: 0px; 
    position: absolute;
    right: 7.4%;
    top: 29%;
    z-index: 6000;
}

.bnav a{
    font-size: 20px;
    line-height: 20px;
    color: #C0C0C0;
}

.bnav a.active {
    color: #fff;
    font-weight: bold;
}

.nav-link:hover {
    color: #ED712E;
}

/* hero */

.hero{
    width: 100%;
    min-height: 800px;
    height: 105vh;
    background:url(../images/hero-back.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
   
}
.for_artists .hero{
    background: url(../images/hero/hero-artist.jpg);
}

.app-image {
    max-width: 346px;
}

.group_28{
    top: 20vh;
    
}
.for_artists .group_28{
    top: 10vh;
}

.logo_about{
    top: 15px;
    position: relative;
    z-index: 5000;
}

.group_28 h1{
    font-weight: bold;
    font-size: 72px;
    line-height: 78px;
    margin-bottom: 31px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.group_28 p{
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 47px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    max-width: 50%;

}
.group_28 button{
    width: 240px;
    height: 56px;
    background: #ED712E;
    border-radius: 4px;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}

/* core */

.core{
    padding-top: 80px;
    background: #EBEBEB;
    padding-bottom: 80px;
    color: #000000;

    
}

.core h1{
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 60px;
}

.core h2{

    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
}
.core p{
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    padding-right: 24px;
    margin-bottom: 48px;
}

.core img{
    width:64px;
    height: 64px;
    margin-bottom: 12px;
    
}

/* section */

.title-main {
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.01em;
    margin-bottom:24px;
    color: #FFFFFF;
}

.title-under {
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    margin-top: -32px;
    color: #ED712E;
}

.subtitle{
    margin-top: 50px;
    font-weight: normal;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
}

.section-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    color: #FFFFFF;
}

.features {
    margin-top: 40px;
}

.feature-row{
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 1.2em;
    min-height: 32px;
}
.feature-row img{
    margin-right: 16px;
    margin-top: -4px;  
    width: 40px;
    height: 40px; 
    float: left;
}

.footnote{
    margin-top: 36px;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) { 
    .title-main{
        font-size: 32px;
        line-height: 42px;
        margin-top: 40px;
    }
    .title-under {
        font-size: 18px;
    }
    .subtitle{
        font-size: 20px;
        line-height: 28px;

    }
    .feature-row{
        font-size: 18px;
        line-height: 26px;
        margin: 24px 0px;
    }
}

.circle1{

    margin-left: 28%;
    margin-top: 50px;
    
}
.circles{
    margin-left: 35%;
}
.circle{
    width: 270px;
    height: 270px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.02);
    position: absolute;

}
.circle2{
    margin-top: 190px;
    margin-left: 18%;

}

.circle3{
    margin-top: 287px;
    margin-left: 29%;

}

.phone{
  text-align: center;
}

.module{
    padding-top: 150px;
    padding-bottom: 150px;
}

.for_artists .discovery{
    background: #1D1D1D;
    padding-top: 0px;
    padding-bottom: 0px;
}
.for_artists .discovery .centar{
    background: linear-gradient(90deg, #1D1D1D 0.66%, rgba(0, 0, 0, 0) 25.83%), linear-gradient(270deg, #1D1D1D 40.73%, rgba(0, 0, 0, 0) 68.23%), url(../images/jukebox-back.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;

}
.for_artists .streaming{
    background: #282828;
    padding-top: 0px;
    padding-bottom: 0px;
}
.for_artists .streaming .centar{
    background: linear-gradient(90deg, #282828 51.65%, rgba(40, 40, 40, 0.33) 55.73%, rgba(0, 0, 0, 0) 60.53%), linear-gradient(270deg, #282828 0.83%, rgba(40, 40, 40, 0) 4.66%, rgba(0, 0, 0, 0) 8.26%), url(../images/streaming-back-main.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;

}

.streaming h3{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    color: #FFFFFF;
}

.str_div {
    margin-bottom: 32px;
}

.str_div img{
    margin-right: 16px; 
    width: 40px;
    height: 40px;
}

.str_div p{
    font-weight: normal;
    font-size: 18px;
    margin-top: -8px;
    margin-left: 55px; 
    color: #FFFFFF;
}


/* kickstarter */

.kickstarter{
    text-align: center;
    background: #EBEBEB;
    padding-top: 96px;
    padding-bottom: 96px;
}

.kickstarter h3{
    font-weight: normal;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #000000;
}

.kickstarter h1{
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #000000;
}
.kickstarter p{
    margin-top: 38px;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
}

.for_artists .jukebox .features p{
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
}

.vip .centar{
    background: linear-gradient(270deg, #1D1D1D 4.98%, rgba(0, 0, 0, 0) 20.79%), linear-gradient(90deg, #1D1D1D 25.61%, rgba(0, 0, 0, 0) 54.48%), url(../images/vip-back.jpg), #1D1D1D;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;

}

/* artists */

.artists{
    padding-top: 48px;
    padding-bottom: 48px;
    background:url(../images/artist-back.jpg), #1D1D1D;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.artists h1{
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
}
.artists h2{
    margin-top: 21px;
    font-weight: normal;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;

}
.artists p{
    margin-top: 21px;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    color: #FFFFFF;
}

/* footer */

.footer{
    padding-top: 64px;
    padding-bottom: 18px;
    background: #EBEBEB;
}
.footer p{
    height: 26px;
    margin-top: 16px;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.footer p a {
    color: #000000;
}

.social-link {
    padding-right: 16px;
}

.content-left { 
	background: 
		/* bright orange */
		radial-gradient(18.54% 60.47% at 75vw, rgba(133, 103, 87, 0.17) 12.06%, rgba(0, 0, 0, 0) 100%), 
		/* purple */
		radial-gradient(35.78% 35.78% at 75vw, rgba(123, 97, 255, 0.23) 0%, rgba(0, 0, 0, 0) 100%), 
		/* orange */
		radial-gradient(13.93% 41.8% at 75vw, rgba(126, 78, 78, 0.18) 0%, rgba(29, 29, 29, 0.18) 100%),
		/* main background colour */
		#1d1d1d;
}
.content-right { 
	background: 
		/* bright orange */
		radial-gradient(18.54% 60.47% at 25vw, rgba(133, 103, 87, 0.17) 12.06%, rgba(0, 0, 0, 0) 100%), 
		/* purple */
		radial-gradient(35.78% 35.78% at 25vw, rgba(123, 97, 255, 0.23) 0%, rgba(0, 0, 0, 0) 100%), 
		/* orange */
		radial-gradient(13.93% 41.8% at 25vw, rgba(126, 78, 78, 0.18) 0%, rgba(29, 29, 29, 0.18) 100%),
		/* main background colour */
		#282828;
}






 






