@use "reset";
@use "variables";

body {
	font-family: 'Barlow', Arial, Helvetica, sans-serif;
	background: #000;
}
.content {
	max-width: var(--page-width);
	margin: 0 auto;
	background: 
		linear-gradient(to right, rgba(0, 0, 0, 1) 30vw, rgba(0, 0, 0, 0) 60vw), 
		url("../../img/bubl-hero-2.jpg");
	background-position:
		top right,
		200px center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 24px 40px;
	min-height: 500px;
}

h1 {
  margin-top: 10px;
  font-size: 72px;
  font-weight: 800;
  letter-spacing: 0.01em;
  line-height: 1.0;
  margin-bottom: 32px;
}

h2, h3 {
	font-size: 24px;
	margin-bottom: 10px;
}

p {
	font-size: 1rem; 
	margin-bottom: 1rem; 
	line-height: 1.5; 
}

.logo {
	width: 116px;
}

.social-links a:hover {
	cursor: pointer;
}

.social-icon {
	fill: white;
	width: 32px;
	margin-right: 16px; 
	&:hover {
		fill: #F19B39;
	}
} 

.grid-container {
	display: grid;
	grid-template-columns: 564px 1fr;
	height: calc(100vh - 86px);
}
  
.grid-item {
	font-size: 30px;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}
 
@media screen and (max-width: 768px) {
	.content {
		background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 20vh, rgba(0, 0, 0, 0) 80vh), url('../../img/bubl-hero-2.jpg')  no-repeat;
		background-position: right bottom;
		padding: 24px;
	}
	.grid-item {
		padding-top: 80px;
		justify-content: inherit;
	}
}

@media screen and (max-width: 600px) {

	.content {
		background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 65vh, rgba(0, 0, 0, 0) 80vh), url('../../img/bubl-hero-2.jpg')  no-repeat;
		background-position: right bottom;
		background-size: 150vw;
		padding: 24px;
	}

	h1 {
		font-size: 64px;
	}

	.grid-container {
		grid-template-columns: 1fr;
	}
  
	.grid-item {
		padding-top: 40px;
		justify-content: inherit;
	}

}